## Words

In [78]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [79]:
# your code here
#print (words.upper())

for i in words:
                #continue
    print(i.upper())   # no entiendo por que es i y no words


# print (words)

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [80]:
# your code here

**Print the first word starting with "t"**

In [81]:
# your code here

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [82]:
# your code here
squared_numbers = []

for i in range(1, 11):
    squared_numbers.append(i**2)
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [83]:
# your code here
squared_numbers = []
oddnumbers = []

for i in range(1, 11):
    if i % 2 != 0:
        oddnumbers.append(i**2)

print(oddnumbers)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [84]:
# your code here
multiples_of_8 = []
squared_numbers = []

for i in range(1000):
    if i % 8 == 0 and i !=0:
        multiples_of_8.append(i)
        squared_numbers.append(i**2)
        #print(multiples_of_8.append
        #print(i)
print(f"list of numbers multiples of 8 below 1000: {multiples_of_8}")
print("list of that numbers squared:" , squared_numbers)

list of numbers multiples of 8 below 1000: [8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]
list of that numbers squared: [64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [85]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [86]:
# your code here
nr_people = len(people)
print(nr_people)

5

**How many people have kids**?

In [87]:
# your code here
#for i in range(len(people)):
 #   print(people[i])
  #  for i in range

count_with_kids = 0

# Iterate through each dictionary in the list
for person in people:
    # Check if 'nr_kids' is greater than 0
    if person['n_kids'] > 0:
        count_with_kids += 1

# Print the number of people with kids
print(f"Number of people with kids: {count_with_kids}")

Number of people with kids: 4

**How many kids do they have in total?**

In [88]:
# your code here

total_kids = 0

                    # Iterate through each dictionary in the list
for i in people:
    # Add the number of kids the person has to the total
    total_kids += i['n_kids']

# Print the total number of kids
print(f"Total number of kids: {total_kids}")

Total number of kids: 10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [89]:
# your code here
people_next_year = []

for i in people:
    if i["name"].endswith("a"):
        i["n_kids"] += 1
        #print(i)
    i["age"] += 1
    people_next_year.append(i)
print(people_next_year)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]

In [90]:
print(people_next_year)

[{'name': 'Juan', 'age': 35, 'n_kids': 2}, {'name': 'Pepe', 'age': 28, 'n_kids': 0}, {'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}, {'name': 'Leo', 'age': 56, 'n_kids': 5}]